@model Project2_MissionaryApp.Models.Mission

@{
    ViewBag.Title = "FAQ's - " + Model.MissionName;
}
<br />
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Missions")">Missions</a></li>
    <li class="breadcrumb-item active">@Model.MissionName</li>
</ol>

<h2>@Model.MissionName Mission</h2>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header bg-dark text-white">
                    <h2>Mission Info.</h2>
                </div>
                <div class="card-body">
                    <h3>Mission Logo</h3>
                    <p>
                        <img src=@Model.LogoFilePath alt="mission logo" style="max-width: 80%;"/>
                    </p>
                    <h3>Mission President</h3>
                    <p>President @Model.President</p>
                    <h3>Address</h3>
                    <p>@Html.Raw(Model.Address)</p>
                    <h3>Language</h3>
                    <p>@Model.Language</p>
                    <h3>Climate</h3>
                    <p>@Model.Climate</p>
                    <h3>Dominant Religion</h3>
                    <p>@Model.DominantReligion</p>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            @if (User.Identity.IsAuthenticated)
            {
                @Html.Partial("FaqsPartial")
            }
            else
            {
            <div class="card d-flex flex-column align-items-stretch">
                <h4>Please login to view and submit questions about the @Model.MissionName Mission.</h4>
                @Html.ActionLink("Log in", "Login", "Account", routeValues: new { returnUrl = Request.Url.PathAndQuery }, htmlAttributes: new { id = "loginLink", @class = "nav-link btn btn-secondary btn-sm btn-block" })
            </div>
            }
        </div>
    </div>
</div>

<script src="~/Scripts/faqs.js"></script>