<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Missionary App</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    @Styles.Render("~/Content/css")

    <link rel="stylesheet" href="~/Content/bootstrap-toggle.min.css" />
</head>
<body>
    @using Project2_MissionaryApp.DAL
    @using Project2_MissionaryApp.Models
    @{MissionContext db = new MissionContext();}
    <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top" id="navbar">
        @Html.ActionLink("Mission Site", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="@Url.Action("Index", "Missions")" role="button" aria-haspopup="true" aria-expanded="false">Missions</a>
                    <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 44px, 0px);">
                        @foreach (var item in db.Mission.ToList())
                        {
                            @Html.ActionLink(item.MissionName, "Faqs", "Missions", routeValues: new { id = item.MissionId }, htmlAttributes: new { @class = "dropdown-item" })
                        }
                        @Html.ActionLink("See More...", "Index", "Missions", null, htmlAttributes: new { @class = "dropdown-item" })
                    </div>
                </li>
                <li class="nav-item">@Html.ActionLink("About Us", "About", "Home", null, htmlAttributes: new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Contact", "Contact", "Home", null, htmlAttributes: new { @class = "nav-link" })</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="d-flex">
            <p class="mr-auto">&copy; @DateTime.Now.Year - AJAR Mission Corp.</p>
            <input type="checkbox" checked data-toggle="toggle" data-style="ios" data-on="Light" data-off="Dark" id="toggleDark" onclick="toggleDark()">
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/popper")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/bootstrap-toggle.min.js"></script>
    <script src="~/Scripts/main.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
